.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.accent-f {
  color: #4d5ae5;
}
.footer-descr {
  max-width: 264px;
  color: #f4f4fd;
}
.social-title {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.icons-link {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}

.icons-item {
  width: 40px;
  height: 40px;
}
.footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}
.icons-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-social:hover,
.icons-social:focus {
  background-color: #31d0aa;
}
.icons-social svg {
  fill: #f4f4fd;
}
